<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE230C0A2880C9F200DE1FE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE230C202880C9F300DE1FE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE230C2A2880C9F400DE1FE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
